body
{
	margin:0px;
	background-image:linear-gradient(45deg,#5e4d91,#925f8d);
}
h1
{
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size:40px;
	color:#d9d6ce;
	
	
}
.information
{

	background:#f2f2f2;
	width: 80%;
	margin-left: 10%;
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	background-size: cover;
	margin-top:50px;
		/* Add the following properties to the selector to which the effect has to be applied */

	/* Chrome, Safari */
	-webkit-box-shadow: 2px 2px 5px black;
	/* Standard syntax */
	box-shadow: 2px 2px 5px black;
	
	
}
.information img

{
	width: 40%;
	background: url('index.jpeg');
	height: 300px;
	

}
.information p
{
	margin:10px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"

}

.suite 
{
	
	bottom:0px;
	right:0px;
	
}
nav
{
	background:#3b3934;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	height: 50px;

}
.page 
{	width:80%;
	margin-left:10%;
	background:#d9d6ce;
	border-radius:8px;
	margin-top: 50px
}
ul
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	height:100%;
	list-style-type: none;
}
a
{
	color:white;
	text-decoration: none;
	font-family: sans-serif;
	
}
.titre
{
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
	
}
footer
{
	background:#3b3934;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color:white;
}
footer img
{
	width:125px;
}
p a 
{
	color:rebeccapurple
}