body
{
	margin:0px;
	background-image:linear-gradient(45deg,#5e4d91,#925f8d);
}
h1
{
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size:40px;
	color:#d9d6ce;
	
	
}

.suite 
{
	
	bottom:0px;
	right:0px;
	
}
nav
{
	background:#3b3934;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	height: 50px;
}
.logo
{
	text-align: center;
	margin-top: 25px ;
	
}
.logo img
{
	width: 75px;
	height:75px;
}
.page 
{	width:80%;
	margin-left:10%;
	background:#d9d6ce;
	border-radius: 8px;
	margin-top: 50px
}
ul
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	height:100%;
	list-style-type: none;
}
a
{
	color:white;
	text-decoration: none;
	font-family: sans-serif;
	
}


.partie1_genetique p 

{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin: 25px;
}

.partie1_genetique img

{
	margin-right: 30px;
	margin-top:15px;
	margin-left:15px;
	border-radius : 8px;
	border: 10px solid #3b3934;
	width:380px;
	height:260px;
}
h2 
{
	margin-left:25px;
	font-size: 35px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.partie2_genetique p 

{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin: 25px;
	
}
footer
{
	background:#3b3934;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color:white;
}
footer img
{
	width:125px;
}
.sources a 
{
	color:darkviolet;
	text-decoration: underline
}